  
<!DOCTYPE html>
<html>
<head>
	<title>Result</title>
</head>
<body>
	<h1>Result:</h1>
	<p>The result of performing "<%= weight %>" on <%= type %> and <%= zone %> is: <%= cost %></p>
</body>
</html>